body {
  max-width: 320px;
  margin: auto;
  background: url(../img/mode.jpg);
}


img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: #DD7C5E;
  padding: 0px 20px;
  position: sticky;
  top: 0px;
  color: #28343F;
}

.chatbox-container {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  max-width: 365px;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
}


.message-content{
  border-radius: 50px 50px 50px 0px;
  margin: 0px 0px 5px 0px;
  padding: 10px 15px;
}

.message-box {
  margin: 0px 20px 20px 20px;
  min-width: 40px;
}

.message-box-transmitter .message-content {
  background: #7B8E86;
  border-radius: 50px 50px 0px 50px;
  color: #28343F;
  padding: 20px;
}

.message-box-transmitter .hour {
  text-align: right;
}

.message-box-recipient .message-content {
  background: #DD7C5E;
  color: #28343F;
  padding: 20px;
}

.message-box-transmitter {
  align-self: flex-end;
}

footer {
  background: #7B8E86;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  bottom: 0px;
}

.hour {
  color: #000;
}

input {
  background: #9DB3A8;
  border-radius: 50px;
  width: 270px;
}

a {
  color: #28343F;
}