body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

html, body {
  margin: 0%;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: #DD7C5E;
  padding: 0px 20px;
  position: sticky;
  top: 0px;
}

.chatbox-container {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  max-width: 300px;
  margin: auto;
  flex-direction: column;
  align-items: left;
}


.message-content{
  border-radius: 50px 50px 50px 0px;
  margin: 0px 0px 5px 0px;
  padding: 10px 15px;
}

.message-box {
  margin: 0px 20px 20px 20px;
  min-width: 65px;
}

.message-box-transmitter .message-content {
  background: #7B8E86;
}

.message-box-transmitter .message-hour {
  text-align: right;
}

.message-box-recipient .message-content {
  background: #DD7C5E;
}

footer {
  background: #7B8E86;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  bottom: 0px;
}